<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.time_project">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_new"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo_new"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.CouponActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PaySuccessActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".ui.RecordActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="true"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wxe5d9e7a062976e55" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ForScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.NoticeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OrderDetailActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.OrderListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CourseDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.VideoListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MoreProjectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AddressActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="false" />
        <activity
            android:name=".ui.UpOrderActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ui.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WorksActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ExoplayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PerfectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="false" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.TestSplashScreen.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="false" />
        <activity
            android:name=".web.WebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|fontScale"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.time_project.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name="com.tencent.smtt.export.external.DexClassLoaderProviderService"
            android:label="dexopt"
            android:process=":dexopt" />
    </application>

    <queries>
        <package android:name="com.tencent.mm" />
        <!-- <package android:name="com.qzone" /> -->
        <package android:name="com.eg.android.AlipayGphone" />

        <!-- <package android:name="com.eg.android.AlipayGphoneRC" /> -->


        <!-- <package android:name="hk.alipay.wallet" /> -->
    </queries>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 从Android 11开始，需要在AndroidManifest.xml清单文件中加入query权限申请，才能检测到手机上安装的三方应用包安装状态 -->
    <!-- <queries> -->
    <!-- <package android:name="com.tencent.mm" />            // 指定微信包名 -->
    <!-- <package android:name="com.tencent.mobileqq" />    //指定qq包名 -->
    <!-- <package android:name="com.sina.weibo" />             //指定微博包名 -->
    <!-- <package android:name="com.tencent.wework" />      //指定企业微信包名 -->
    <!-- <package android:name="com.qzone" />                   //指定QQ空间包名 -->
    <!-- <package android:name="com.alibaba.android.rimet" /> // 指定钉钉包名 -->
    <!-- <package android:name="com.eg.android.AlipayGphone" /> // 指定支付宝包名 -->
    <!-- <package android:name="com.instagram.android" />         // 指定instagram包名 -->
    <!-- </queries> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>